* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 600px;
}

body {
    font-family: 'Georgia';
}

.btn {
    background-color: #03cfd3;
    color: black;
    border: solid black 1px;
}

